<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>vue测试</title>
    <script src="../js/vue.min.js"/>
    <style>
        .class1{
            background: #444;
            color: #eee;
        }
    </style>
</head>
<body>
    <hr/>
        <h1><b>vue教程:</b></h1>
        <h2>
            <pre>
                是一套构建用户界面的渐进式框架。
                Vue 只关注视图层， 采用自底向上增量开发的设计。
                Vue 的目标是通过尽可能简单的 API 实现响应的数据绑定和组合的视图组件
            </pre>
        </h2>
    <hr/>
    <h3>示例一   插入文本值</h3>
        <div id="app1">
            <p>{{message}}</p>
        </div>
    <h3>示例二    插入html标签</h3>
        <div id="app2">
            <div v-html="message"></div>
        </div>
    <h3>示例三    属性</h3>
        <div id="app3">
            <label for="r1">修改颜色</label>
            <input type="checkbox" v-model="class1" id="r1"/>
            <br/>
            <div v-bind:class="{'class1': class1}">
                directiva v-bind:class
            </div>
        </div>
    <h3>示例四</h3>
    <h3>示例五</h3>
    <h3>示例六</h3>
    <h3>示例七</h3>
    <h3>示例八</h3>
    <h3>示例九</h3>
    <h3>示例十</h3>



    <!---->
    hello  vue!!!     这是第一个vue程序    make
    <script>
        new Vue({
            el: '#app1',
            data: {
                message: 'Hello Vue.js!     world'
            }
        });
        new Vue({
            el:'#app2',
            data:{
                message: '<h2>使用 v-html 指令用于输出 html !</h2>'
            }
        });
        new Vue({
            el: '#app3',
            data:{
                class1: false
            }
        });
    </script>

</body>
</html>